//deep pink
// https://encycolorpedia.com/ff1493
//https://www.colorhexa.com/ff1493
// $brand-primary: #ff5733;
$brand-primary: #0fff50;
$brand-dark: #000;
$brand-light: #fff;

$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
$shadow-dark: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);

$brand-primary-shadow: rgba(#0fff50, 0.1);

$border-radius: 0.375rem;
$spacing: 1.25rem;
$spacing-lg: 1.5rem;

//Research to help decide what breakpoints to use
// https://getbootstrap.com/docs/5.2/layout/breakpoints/
//https://testsigma.com/blog/css-breakpoints/
// https://polypane.app/blog/the-breakpoints-we-tested-in-2021-and-the-ones-to-test-in-2022/
//https://get.foundation/sites/docs/media-queries.html

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
