.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: $spacing;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;

  font-size: 1.5rem;

  background-color: black;

  a {
    color: $brand-light;
    text-decoration-color: $brand-primary;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
    &:hover {
      color: $brand-primary;
      text-decoration-color: $brand-light;
    }
  }

  .logo-link {
    color: $brand-primary;

    text-decoration-color: $brand-light;
    i {
      margin-right: 0.5rem;
    }
    &:hover {
      color: $brand-light;
      text-decoration-color: $brand-primary;
    }
  }
}
