.navbar {
  padding: $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.25rem;
  font-style: italic;

  color: $brand-dark;
  .logo {
    font-size: 2rem;
    .fa-solid {
      color: pink;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: $spacing-xl;
    a {
      color: $brand-dark;
      text-decoration: none;
    }
  }
}
