.navbar {
  padding: $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  font-size: 1.25rem;
  font-style: italic;

  color: $brand-dark;
  .logo {
    font-size: 2rem;
    .fa-solid {
      color: $brand-primary;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: $spacing-xl;
    a {
      color: $brand-dark;
      text-decoration: none;
    }
  }
}
